.lead {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  margin-bottom: 92px;
  max-width: 984px;
  padding: 0;
}

@media screen and (max-width:1023px) {
  .lead {
    margin-bottom: 88px;
  }
}

@media screen and (max-width:767px) {
  .lead {
    margin-bottom: 64px;
  }
}

@media screen and (max-width:425px) {}

@media screen and (max-width:320px) {}
