.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1280px;
  width: calc(100% - 96px);
  padding: 0;
  margin: 0 auto;
}

@media screen and (min-width:1279px) {
  .header {
    padding: 28px 48px 56px;
  }
}
