.cover__title {
  margin: 0 auto 32px;
  padding: 0;
  font-family: Inter, Arial, sans-serif;
  font-weight: 900;
  font-size: 72px;
  line-height: 76px;
  max-width: 560px;
  position: relative;
  text-align: center;
  /* padding-top: calc(245 * 100% / 1184); */
}

@media screen and (max-width: 1023px) {
  .cover__title {
    /* padding-top: 115px; */
  }
}

@media screen and (max-width: 767px) {
  .cover__title {
    font-size: 32px;
    line-height: 35px;
    font-weight: 900;
    max-width: 372px;
    margin: 0 auto 16px;
    /* max-width: 550px; */
    /* padding-top: 33px; */
  }
}

@media screen and (max-width: 319px) {
  .cover__title {
    font-size: 7vw;
    line-height: 1em;
    font-weight: 900;
    margin: 0 auto 1em;
  }
}
